# Sample environment variables for fish-speech
# Copy to .env and customize

API_KEY=
LISTEN=127.0.0.1:8000
WORKERS=1
DEVICE=cpu
LLAMA_CHECKPOINT_PATH=checkpoints/s2-pro
DECODER_CHECKPOINT_PATH=checkpoints/s2-pro/codec.pth
DECODER_CONFIG_NAME=modded_dac_vq
HALF=false
COMPILE=false
